

.table-Light {
  background-color: rgba(241, 238, 238, 0.568);
}

.progLang {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  color: rgb(153, 149, 149);
}


.warning {
  background-color: #0b5ed7;
  padding: 6px;
  margin-bottom: 0;
  color: #fff;
  width: 70%;
}
